:root {
    --text-color: #DBE4EF;
    --card-front-color: #1B2028;
    --card-back-color: #1B2028;
    --bg-color: #000408;
    --accent-color: #14f7d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    height: 16rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    perspective: 1000px;
    cursor: pointer;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
    position: relative;
}

.cartao__conteudo h3 {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    z-index: 2;
}

.cartao__conteudo p {
    margin-top: 2rem;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.4;
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: var(--card-back-color);
    border-radius: 10px;
}

/* Ativa o giro do cartão ao clicar (via JavaScript) */
.cartao.virado .cartao__conteudo {
    transform: rotateY(180deg);
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-family: 'Bai Jamjuree', sans-serif;
}